body{
    background-color: rgb(31, 73, 224);
}
.beech {
    font-size: xx-large;
    color: rebeccapurple;
    background-color: greenyellow;
    position: center;
    font-style: oblique;
}
#p1 {
    color: rgb(87, 129, 9);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}
.information {
    color: white;
    background-color: blueviolet;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 540;
    font-style: italic;
    font-display: fallback;
}
.information b {
    color: greenyellow;
}
.text {
    color: red;
}
#about h2 {
    color: yellow;
}
#skills h1 {
    color: yellow;
}